<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zqy.canvasdemo">

    <application
        android:name=".app.CanvasApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity">
        </activity>
        <activity android:name=".module.color.ColorActivity">
        </activity>
        <activity android:name=".module.text.TextActivity">
        </activity>
        <activity android:name=".module.graph.GraphActivity">
        </activity>
        <activity android:name=".module.image.ImageActivity">
        </activity>
        <activity android:name=".module.path.PathActivity">
        </activity>
        <activity android:name=".module.graph.point.PointActivity">
        </activity>
        <activity android:name=".module.graph.line.LineActivity">
        </activity>
        <activity android:name=".module.graph.rect.RectActivity">
        </activity>
        <activity android:name=".module.graph.rect.RoundRectActivity">
        </activity>
        <activity android:name=".module.graph.oval.OvalActivity">
        </activity>
        <activity android:name=".module.graph.circle.CircleActivity">
        </activity>
        <activity android:name=".module.graph.arc.ArcActivity">
        </activity>
    </application>

</manifest>